body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

td:hover {
    white-space: normal;
    word-wrap: break-word;
    background-color: #f9f9f9;
    max-width: none;
    z-index: 1;
    position: relative;
}

input[type="text"] {
    padding: 3px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    padding: 3px 6px;
    margin-left: 5px;
    font-size: 0.85em;
    cursor: pointer;
}

#column-filters label {
    margin-right: 10px;
    font-size: 0.9em;
  }
